{
    "hostName": "oasenkiosk",
    "hardware": "raspberryPi3",
    "program": {
        "package": "ungoogled-chromium",
        "executable": "/bin/chromium",
        "args": ["https://en.wikipedia.org/"]
    },
    "raspberryPi": {
        "cecSupport": false
    }
}
